body {  
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    background: #001f3f; 
}
  .cover {
width: 700px;
background: linear-gradient(#001f3f, #003366);
border: 4px solid black;
padding: 30px;
box-sizing: border-box;
border-radius: 10px;
overflow: hidden;
}

h1 {
color: white;
}

hr {
height: 3px;
background: black;
border: none;
}

p {
font-size: 18px;
line-height: 1.6;
color: white;
}

p span {
background: yellow;
padding: 3px;
font-weight: bold;
}

.quote {
margin: 30px 0;
padding: 20px;
background: #002855;
border-left: 6px solid black;
font-style: italic;
font-size: 20px;
color: white;
}

.author {
display: flex;
background: white;
padding: 15px;
border-radius: 10px;
}

.author img {
width: 80px;
height: 100px;
margin-right: 15px;
}

.footer {
background: #0b4f6c;
color: white;
padding: 15px;
display: flex;
justify-content: space-between;
}